section.l-col--12-of-12.background__color--neutral-mod-soft.bg__texture--noise.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xlarge.spacer__padding-bottom--size-xxlarge.separator--style-roundedsplit
  //h2.l-self--align-right Ven a visitarnos
  article(class=blocks['text-area--primary-soft'])
    h3= __("quienes somos")
    div.spacer__margin-bottom--size-xlarge.spacer__padding-top--size-large 
      div(class=blocks['media__content--xxlarge'])
        blockquote.blockquote--large.l--align-center
          span.quote__symbol
          p= __("quienes somos cita")
      div(class=blocks['media__figure--xxlarge'])
        img.container__box-shadow--intensity-very-loud.container__border--size-small(src="/images/about.jpg" alt="Foto de Francisco Javier Jiménez")
        div.l-self--align-right
          figcaption 
            strong Francisco Javier Jiménez, 
            span= __("propietario")
    div.l.l-col--6-of-12-sm.l--last-sm.spacer__padding-left--size-small.spacer__padding-right--size-small.spacer__margin-bottom--size-large
      h4= __("acerca de mi")
      p= __("acerca de mi 1")
      p= __("acerca de mi 2") 
 
    div.l.l-col--6-of-12-sm.l--last-sm.container__border-left--size-small-sm.spacer__padding-left--size-small.spacer__padding-right--size-small.spacer__margin-bottom--size-large
      h4= __("mi proyecto")
      p= __("mi proyecto 1")
      p= __("mi proyecto 2")
     
  div(id="location") 
