section.l-col--12-of-12.background__color--tertiary-default.bg__texture--noise.separator--style-multitriangles.spacer__padding-top--size-xxlarge.spacer__padding-bottom--size-xxlarge
  article(class=blocks['text-area--tertiary'])
    h3= __("producción ecológica")
    div.bg__image--tree.l.l-col--12-of-12.l-col--7-of-12-sm.l--align-center.spacer__padding-right--size-small.spacer__padding-left--size-small
      div.spacer__margin-bottom--size-large.l-self--relative
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l-self--align-middle.bg__line--dotted
          div.background__color--neutral-soft.l-self--relative.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big(aria-hidden="true" data-icon!="&#xe61c;") 
        div.l-self--align-right.l-col--9-of-12-sm.l.l--last-sm.l-self--align-middle
          div.l--align-center.l-col--7-of-12-sm.l-sm.l--last-sm.l-self--relative.background__color--tertiary-very-soft(class=blocks['container--rounded'])    
            h4= __("sin quimicos")
            p= __("quimicos 1")
      
      
      div.spacer__margin-bottom--size-large.l-self--relative
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l-self--align-middle.bg__line--dotted
          div.background__color--neutral-soft.l-self--relative.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big(aria-hidden="true" data-icon!="&#xe60f;") 
        div.l-self--align-right.l-col--9-of-12-sm.l.l--last-sm.l-self--align-middle
          div.l--align-center.l-col--7-of-12-sm.l-sm.l--last-sm.l-self--relative.background__color--tertiary-very-soft(class=blocks['container--rounded'])    
            h4= __("abonos organicos")
            p= __("abonos 1")
      
      
      
      div.spacer__margin-bottom--size-large.l-self--relative
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l-self--align-middle.bg__line--dotted
          div.background__color--neutral-soft.l-self--relative.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big(aria-hidden="true" data-icon!="&#xe61b;") 
        div.l-self--align-right.l-col--9-of-12-sm.l.l--last-sm.l-self--align-middle
          div.l--align-center.l-col--7-of-12-sm.l-sm.l--last-sm.l-self--relative.background__color--tertiary-very-soft(class=blocks['container--rounded'])    
            h4= __("biodiversidad")
            p= __("biodiversidad 1") 
      
      
      
      div.spacer__margin-bottom--size-large.l-self--relative
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l-self--align-middle.bg__line--dotted
          div.background__color--neutral-soft.l-self--relative.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big(aria-hidden="true" data-icon!="&#xe60b;") 
        div.l-self--align-right.l-col--9-of-12-sm.l.l--last-sm.l-self--align-middle
          div.l--align-center.l-col--7-of-12-sm.l-sm.l--last-sm.l-self--relative.background__color--tertiary-very-soft(class=blocks['container--rounded'])    
            h4= __("elaboracion natural")
            p= __("elaboracion 1")    
      
      
      div.spacer__margin-bottom--size-large.l-self--relative
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l-self--align-middle.bg__line--dotted
          div.background__color--neutral-soft.l-self--relative.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big(aria-hidden="true" data-icon!="&#xe61d;") 
        div.l-self--align-right.l-col--9-of-12-sm.l.l--last-sm.l-self--align-middle
          div.l--align-center.l-col--7-of-12-sm.l-sm.l--last-sm.l-self--relative.background__color--tertiary-very-soft(class=blocks['container--rounded'])    
            h4= __("bienestar animal")
            p= __("bienestar 1")

    div.l.l-col--12-of-12.l-col--5-of-12-sm.l--last-sm.l--align-center.spacer__padding-right--size-small.spacer__padding-left--size-small
      div.l-items--rev-dir.spacer__margin-bottom--size-large
        div(class=blocks['media__figure--large'])
          img.container__box-shadow--intensity-loud(src='/images/logo-certifood.jpg' alt="logo certifood")
        div(class=blocks['media__content--large'])
          p!= __("ecologico 2")
      a(href="/files/certificado.pdf")
        div.spacer__margin-bottom--size-large.background__color--tertiary-very-soft(class=blocks['button--rounded'])
          span.background__color--tertiary-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe621;")
          span= __("descarga nuestro certificado")
 

  div(id="winery") 
