section.l-col--12-of-12.background__color--tertiary-default.bg__texture--noise.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xxlarge.spacer__padding-bottom--size-xxlarge.separator--style-multitriangles
  article(class=blocks['text-area--tertiary'])
    div.l.l-col--12-of-12.l-col--6-of-12-sm.l--align-center.bg__image--tree
      h3 Practicas ecologicas
      div.l.l-col--12-of-12
        div.spacer__margin-bottom--size-large.l--align-center
          h4(class=blocks['button--rounded-tertiary'])
            span.background__color--tertiary-mod-soft(class=blocks['button__icon'] aria-hidden="true" data-icon!="&#xe61b;") 
            |  Sin químicos
          //p Así evitamos la contaminación de la vida acuática 
            | y efectos adversos sobre el suelo. Las malas hierbas 
            | son cortadas en lugar de emplear herbicidas.
        div.spacer__margin-bottom--size-large
          h4(class=blocks['button--rounded-tertiary']) 
            span.background__color--tertiary-mod-soft(class=blocks['button__icon'] aria-hidden="true" data-icon!="&#xe60e;") 
            |  Abonos orgánicos
          //p Previenen la erosión del suelo y mejoran su estructura. 
        
        div.spacer__margin-bottom--size-large.l-self--align-right
          h4(class=blocks['button--rounded-tertiary']) 
            span.background__color--tertiary-mod-soft(class=blocks['button__icon'] aria-hidden="true" data-icon!="&#xe61a;") 
            |  Biodiversidad
          //p Plantamos árboles, conservamos los prados, protegemos la vegetación autóctona. 
        
        div.spacer__margin-bottom--size-large
          h4(class=blocks['button--rounded-tertiary'])
            span.background__color--tertiary-mod-soft(class=blocks['button__icon'] aria-hidden="true" data-icon!="&#xe60a;") 
            |  Elaboración natural
          //p Utilizamos levaduras naturales durante la fermentación y clara de huevo 
            | o gelatina durante la clarificación del vino. 
        
        div.spacer__margin-bottom--size-large.l--align-center
          h4(class=blocks['button--rounded-tertiary'])
            span.background__color--tertiary-mod-soft(class=blocks['button__icon'] aria-hidden="true" data-icon!="&#xe61c;") 
            |  Bienestar animal
          //p El cuidado y pastoreo de animales se realiza en campo abierto. 

    //div.l.l-col--12-of-12.l-col--6-of-12-sm.l--last-sm
      h3 Sostenibilidad integral
      p Hemos creado en la finca un agrosistema sostenible desde 
        | el punto de vistasocial, ecológico y económico.


