div.spacer__padding-top--size-large.spacer__padding-bottom--size-large
  section.l--fixed-top.l-col--12-of-12.background__color--neutral-very-loud
    article.container__box-shadow--intensity-loud(id="nav__container" class=blocks['text-area--neutral-soft'])
      div.l.l-col--4-of-12.l-col--2-of-12-sm.l-self--align-middle.spacer__padding-left--size-small
        img(id="logo" src="/images/logo-el-molar.png" alt="logo el molarde rus")
      a(href="#menu" id="menu-icon")
        span.icon--xbig(aria-hidden="true" data-icon!="&#xe61e;")   
      nav.l.l-col--8-of-12.l-col--10-of-12-sm.l--last.l--last-sm.l-self--align-middle
        ul.list--no-style.list--horizontal(id="menu" class=blocks['island--small'])
          li
            a(href="#products")= __("productos")   
          li
            a(href="#tourism")= __("turismo rural") 
          li
            a(href="#ecologic")= __("producci칩n ecol칩gica")
          li
            a(href="#winery")= __("bodega y vi침edos")
          li
            a(href="#about")= __("quienes somos")
          li
            a(href="#location")= __("localizaci칩n")
          li
            a(href="#contact")= __("contacto")
          li.back
            a(href="#nav__container") back
   
 
 
 
 
 
