- if(getLocale() == 'en')
  div.l-col--12-of-12.background__color--neutral-very-soft.bg__texture--noise.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xlarge.spacer__padding-bottom--size-xxlarge
    div(class=blocks['text-area--neutral'])
      div(class=blocks['media__figure--large'])
        img.container__box-shadow--intensity-loud(src='/images/new-wines.jpg' alt="New Wines")
      div(class=blocks['media__content--large'])
        h3 New Wines presentation at CLM Gourmet Wine Expo 21th October at NYC.
        h4 You’re welcome to come and taste!
        p Please visit: 
          a(href="http://lamanchagourmetexperience.com/") La Mancha Gourmet Experience
        p Follow us on: 
          a(href="https://twitter.com/Elmolarderus") Twitter
div.l-col--12-of-12.background__color--neutral-soft.bg__texture--noise.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xlarge.spacer__padding-bottom--size-xxlarge
  div(class=blocks['text-area--neutral'])
    h2= __("bienvenido")
    h4= __("bienvenido2")
    p!= __("bienvenido3")
  
  div(id="products") 
