section.l-col--12-of-12.background__color--neutral-soft.bg__texture--noise.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xxlarge.spacer__padding-bottom--size-xxlarge(id="winery")
  //h2.l-self--align-right Ven a visitarnos
  article(class=blocks['text-area--secondary-soft'])
    div.spacer__margin-bottom--size-large
      div.spacer__margin-bottom--size-large
        h3= __("nuestros vinedos")
        h5= __("nuestros vinedos 1")

      div.l.l-col--10-of-12-sm.l--last-sm.spacer__margin-bottom--size-large
        img.container__box-shadow--intensity-very-loud.container__border--size-small(src="/images/viñedos.jpg" alt="Foto viñedos")

      div.l.l-col--6-of-12-sm.l--last-sm.l--align-center.spacer__margin-bottom--size-large.spacer__padding-left--size-small.spacer__padding-right--size-small
        h4= __("el terreno")
        p= __("terreno 1")
      div.l.l-col--6-of-12-sm.l--last-sm.l--align-center.container__border-left--size-small-sm.spacer__padding-left--size-small.spacer__padding-right--size-small
      
        h4= __("el clima")
        p= __("clima 1")
    
  article(class=blocks['text-area--secondary-soft'])
    div.spacer__margin-bottom--size-large
      div.spacer__margin-bottom--size-large
        h3= __("asi hacemos el vino")
        h5= __("hacemos el vino 1") 

      div.l.l-col--5-of-12-sm.l-col--3-of-12-md.l--align-center.spacer__margin-bottom--size-large
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l--last-sm.l--align-center
          div.background__color--secondary-default.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big 1
        h4= __("maceracion")
        p= __("maceracion 1")
      
      div.l.l-col--5-of-12-sm.l-col--3-of-12-md.l--align-center.spacer__margin-bottom--size-large
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l--last-sm.l--align-center
          div.background__color--secondary-default.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big 2
        h4= __("fermentacion")
        p= __("fermentacion 1")
      div.l.l-col--5-of-12-sm.l-col--3-of-12-md.l--align-center.spacer__margin-bottom--size-large
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l--last-sm.l--align-center
          div.background__color--secondary-default.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big 3
        h4= __("prensado")
        p= __("prensado 1")
      div.l.l-col--5-of-12-sm.l-col--3-of-12-md.l--align-center.spacer__margin-bottom--size-xlarge.l--last-md
        div.spacer__margin-bottom--size-small.l-sm.l-col--3-of-12-sm.l--last-sm.l--align-center
          div.background__color--secondary-default.container__border-radius--style-circle(class=blocks['container--circle-shadow'])
            span.icon--big 4
        h4= __("crianza")
        p.text--small= __("crianza 1")
        p= __("crianza 2")


  div(id="about") 
